openapi: 3.0.0
info:
  title: HubSpot API
  version: 3.0.0

servers:
  - url: https://api.hubspot.com

security:
  - ApiKeyAuth: []
  - OAuth2:
    - oauth
    - contacts

paths:
  /crm/v3/objects/{objectType}:
    get:
      operationId: ListObjects
      summary: Get page of objects
      description: Returns a list of objects
      parameters:
        - $ref: '#/components/parameters/objectType'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/archived'
      responses:
        '200':
          description: An object with a result array of objects and paging instructions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: CreateObject
      summary: Create an object
      description: Creates an object of the given type
      parameters:
        - $ref: '#/components/parameters/objectType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesObject'
      responses:
        '200':
          description: An object with the id and properties of the created object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectOperationResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'

  /crm/v3/objects/{objectType}/{objectId}:
    get:
      operationId: GetObject
      summary: Read an object
      description: |
        Read an Object identified by {objectId}. {objectId} refers
        to the internal object ID by default, or optionally any unique property
        value as specified by the idProperty query param.
        Control what is returned via the properties query param.
      parameters:
        - $ref: '#/components/parameters/objectType'
        - $ref: '#/components/parameters/objectId'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/associations'
        - $ref: '#/components/parameters/archived'
        - $ref: '#/components/parameters/idProperty'
      responses:
        '200':
          description: A company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrmObject'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: UpdateObject
      summary: Updates an object
      description: Updates the object of the given type and the given id
      parameters:
        - $ref: '#/components/parameters/objectType'
        - $ref: '#/components/parameters/objectId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertiesObject'
      responses:
        '200':
          description: An object with the id and properties of the created object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectOperationResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'

  /crm/v3/objects/{objectType}/search:
    post:
      operationId: SearchObjects
      summary: Search for objects
      description: |
        Filter, sort, and search CRM objects
      parameters:
        - $ref: '#/components/parameters/objectType'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'

  /crm-associations/v1/associations:
    put:
      operationId: AssociateObjectsV1
      summary: Associate objects (V1)
      description: |
        Associate objects using the V1 API
        https://legacydocs.hubspot.com/docs/methods/crm-associations/associate-objects
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fromObjectId:
                  type: integer
                toObjectId:
                  type: integer
                category:
                  type: string
                definitionId:
                  type: string
      responses:
        '204':
          description: Successful associations
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'        

components:
  securitySchemes:

    ApiKeyAuth:
      type: apiKey
      in: query
      name: hapikey

    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubspot.com/oauth/v1/token
          scopes:
            oauth: Authenticate
            contacts: Read and modify contacts

  parameters:
    objectType:
      name: objectType
      description: The object type to work with
      in: path
      required: true
      schema:
        type: string
    limit:
      name: limit
      description: The maximum number of results to display per page.
      in: query
      required: false
      schema:
        type: integer
        format: int64
    after:
      name: after
      description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
      in: query
      required: false
      schema:
        type: string
    properties:
      name: properties
      description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
      in: query
      required: false
      schema:
        type: string
    archived:
      name: archived
      description: Whether to return only results that have been archived.
      in: query
      required: false
      schema:
        type: boolean
    objectId:
      name: objectId
      in: path
      required: true
      schema: 
        type: string
    associations:
      name: associations
      description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
      in: query
      required: false
      schema: 
        type: string
    idProperty:
      name: idProperty
      description: The name of a property whose values are unique for this object type
      in: query
      required: false
      schema: 
        type: string

  schemas:

    CrmObject:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archived:
          type: boolean
        id:
          type: string
        properties:
          type: object
          additionalProperties: 
            type: string
        associations:
          type: object
          additionalProperties: 
            $ref: '#/components/schemas/AssociationList'

    AssociationList:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Association'

    Association:
      type: object
      properties:
        id:
          type: string
        type:
          type: string

    ListResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CrmObject'
        paging:
          $ref: '#/components/schemas/Paging'

    Paging:
      type: object
      properties:
        next:
          type: object
          properties:
            link:
              type: string
            after: 
              type: string

    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              in:
                type: string
              code:
                type: string
              subCategory:
                type: string
              context:
                type: object
                additionalProperties: true
              links:
                type: object
                additionalProperties: true

    SearchRequest:
      type: object
      properties:
        filterGroups:
          $ref: '#/components/schemas/SearchFilterGroups'
        filters:
          $ref: '#/components/schemas/SearchFilters'
        sorts:
          $ref: '#/components/schemas/SearchOrder'
        query:
          type: string
        properties:
          type: array
          items:
            type: string
        limit:
          type: integer
        after:
          type: integer

    SearchFilterGroups:
      type: array
      items:
        type: object
        properties:
          filters:
            $ref: '#/components/schemas/SearchFilters'

    SearchFilters:
      type: array
      items:
        $ref: '#/components/schemas/SearchFilter'

    SearchFilter:
      type: object
      properties:
        propertyName:
          type: string
        operator:
          type: string
        value:
          type: string

    SearchOrder:
      type: array
      items:
        type: object
        properties:
          propertyName:
            type: string
          direction:
            type: string

    PropertiesObject:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            type: object
            properties:
              key:
                type: string
              value:
                type: string

    ObjectOperationResponse:
      type: object
      properties:
        id:
          type: integer
        archived:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        properties:
          type: object
          additionalProperties:
            type: string
