openapi: 3.0.0
info:
  title: HubSpot API
  version: 3.0.0

servers:
  - url: https://api.hubspot.com

security:
  - ApiKeyAuth: []
  - OAuth2:
    - oauth
    - contacts

paths:
  /crm/v3/objects/companies:
    get:
      summary: Returns a list of companies
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/archived'
      responses:
        '200':
          description: An object with an array of companies and paging instructions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'

  /crm/v3/objects/companies/{companyId}:
    get:
      summary: |
        Read an Object identified by {companyId}. {companyId} refers
        to the internal object ID by default, or optionally any unique property
        value as specified by the idProperty query param.
        Control what is returned via the properties query param.
      parameters:
        - name: companyId
          in: path
          required: true
          schema: 
            type: string
        - name: associations
          description: A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.
          in: query
          required: false
          schema: 
            type: string
        - name: idProperty
          description: The name of a property whose values are unique for this object type
          in: query
          required: false
          schema: 
            type: string
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/archived'
      responses:
        '200':
          description: A company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'
                
  /crm/v3/objects/contacts:
    get:
      summary: Returns a list of contacts
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/properties'
        - $ref: '#/components/parameters/archived'
      responses:
        '200':
          description: An object with an array of contacts and paging instructions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactsResponse'
        'default':
          description: API call failed
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:

    ApiKeyAuth:
      type: apiKey
      in: query
      name: hapikey

    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://api.hubspot.com/oauth/authorize
          tokenUrl: https://api.hubspot.com/oauth/v1/token
          scopes:
            oauth: Authenticate
            contacts: Read and modify contacts

  parameters:
    limit:
      name: limit
      description: The maximum number of results to display per page.
      in: query
      required: false
      schema:
        type: integer
        format: int64
    after:
      name: after
      description: The paging cursor token of the last successfully read resource will be returned as the paging.next.after JSON property of a paged response containing more results.
      in: query
      required: false
      schema:
        type: string
    properties:
      name: properties
      description: A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.
      in: query
      required: false
      schema:
        type: string
    archived:
      name: archived
      description: Whether to return only results that have been archived.
      in: query
      required: false
      schema:
        type: boolean

  schemas:

    Company:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archived:
          type: boolean
        id:
          type: string
        properties:
          type: object
          additionalProperties: 
            type: string

    CompaniesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Company'
        paging:
          $ref: '#/components/schemas/Paging'

    Contact:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        archived:
          type: boolean
        id:
          type: string
        properties:
          type: object
          additionalProperties: 
            type: string

    ContactsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        paging:
          $ref: '#/components/schemas/Paging'

    Paging:
      type: object
      properties:
        next:
          type: object
          properties:
            link:
              type: string
            after: 
              type: string

    Error:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        correlationId:
          type: string
        category:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
              in:
                type: string
              code:
                type: string
              subCategory:
                type: string
              context:
                type: object
                additionalProperties: true
              links:
                type: object
                additionalProperties: true
